html
	head
		title Rohitt - Fun Stuff
	body
		h1 Fun Stuff
		ul
			li
				strong
					a(href="/fun/neon-dystopia") Neon Dystopia
				br
				span Atmos 2017 Homepage, Three JS.
			li
				strong
					a(href="/fun/rabbit") Frightened Rabbit [WIP]
				br
				span Visuals for a song I love, Three JS.
