html
	head
		title Rohitt - Postcards
	body
		.container
			canvas#canvas
		.ui.info.hidden
			h1 ♫ Frightened Rabbit
			h2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Keep Yourself Warm
		.ui.grid
			button#play Start
